<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kakao Chatbot Emulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/kakao-chatbot-emulator/style.css') }}" />
    <style>
        body{
            background: url("{{ url_for('static',filename='assets/emulator_background.jpg') }}") no-repeat center center fixed;
        }
    </style>
</head>
<body>
    <section class="home">
        <div class="content">
            <h3>카카오톡 챗봇 에뮬레이터</h3>
            <!-- <h1>당신의 카카오톡 챗봇을<br>언제, 어디서나<br>웹에서 테스트해 보세요.</h1> -->
            <h1>당신의 카카오톡 챗봇을<br>더 편하고 자세하게<br>테스트해 보세요.</h1>            
            <form method="GET" action="/kakao/get-default">
                <input type="text" name="url" placeholder="챗봇 서버의 URL" autofocus>
                <a href="#" type="submit" class="button" onclick="this.parentNode.submit(); return false;">키보드 가져오기</a>
            </form>
        </div>
    </section>
</body>
</html>
