<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kakao Chatbot Emulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/kakao-chatbot-emulator/style.css') }}" />
    <style>
        body{
            background: url("{{ url_for('static',filename='assets/emulator_background.jpg') }}") no-repeat center center fixed;
        }
    </style>
</head>
<body>
    <section class="home">
        <div class="content">
            <div class="code">{{ json_recv }}</div>      
            <form method="GET" action="/kakao/get-input">     
                <input type="text" name="message" placeholder="전송할 메세지" autofocus>
                <input type="submit" class="button" value="메세지 보내기">
            </form> 
        </div>
    </section>
</body>
</html>
