@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Roboto-Thin.ttf') ;
}
#title-bar {   
  -webkit-app-region: drag;
  height: 32px; 
  padding: 0px;
  margin: 0px; 
  color: white;
  font-family: Roboto;
}
#title {
  position: fixed;
  top: 0px;
  left: 12px; 
  line-height: 32px;
  font-size: 14px;
}
.title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 0px;	
}
.title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}
.title-bar-btns #min-btn:hover {
  background-color: #28c941;
  color: #3F3F41;
}
.title-bar-btns #max-btn:hover {
  background-color: #ffbd2e;
  color: #3F3F41;
}
.title-bar-btns #close-btn:hover {
  background-color: #ff6159;
  color: #3F3F41;
}