{% block title %}
<style>
body {
    height: 80%; margin: 0;
    background-image: url("../../static/assets/upload_background.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; max-height: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.upload-icon {
    /* margin-top: 10%; */
    width: 40%;
}
.upload-box {
    /* right: 50%; left: 50%; */
    margin-top: 15%;
    padding: 10%;
    background-clip: content-box; 
    border: 20px solid rgba(255, 255, 255, 0.5);
}
</style>
{% endblock %}
<body>
    <div id="box" class="upload-box">
        <img class="upload-icon" src="{{ url_for('static', filename='assets/upload.png') }}"/>
        <div class='files'></div>
    </div>
    <script>
        if (typeof module === 'object') {
            window.module = module; 
            module = undefined;
        }
    </script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/file-dropzone.js')}}"></script>
    <script>
        if (window.module) 
            module = window.module;
    </script>
    <script>
    var myDropzone = new FileDropzone({
        target: '#box',
        fileHoverClass: 'entered',
        clickable: true,
        multiple: false,
        forceReplace: false,
        paramName: 'my-file',
        accept: '',
    onChange: function () {
        var files = this.getFiles()
        var elem = this.element.find('.files')
        elem.empty()
        files.forEach(function (item) {
            elem.append('<div class="file-name" style="color: white; font-family: \'Noto Sans KR\', sans-serif;" data-id="' + item.id + '">' + item.name + '</div>')
        })
    },
    onEnter: function () {
        console.log('enter')
    },
    onLeave: function () {
        console.log('leave')
    },
    onHover: function () {
        console.log('hover')
    },
    onDrop: function () {
        console.log('drop')
    },
    onFolderFound: function (folders) {
        console.log('' + folders.length + ' folders ignored. Change noFolder option to true to accept folders.')
    },
    onInvalid: function (files) {
        console.log('file invalid')
        console.log(files)
    },
    beforeAdd: function (files) {
        for (var i = 0, len = files.length; i < len; i++) {
            let file = files[i]
            file.id = new Date().getTime()
            if (/fuck/.test(file.name)) return false
        }
        return true
    }
    })
    </script>
</body>
